.query a {
    background-color: #ffffff;
    color: #444444;
    padding: 8px;
    top: 0;
    box-shadow: 10px 10px 0px #444444;
    transition: all ease 0.1s;
}

.query a.active,
.query a:hover {
    box-shadow: 3px 3px 0px #444444;
     -webkit-transform: translateY(7px) translateX(7px);
     -moz-transform: translateY(7px) translateX(7px);
     transform: translateY(7px) translateX(7px)
}
