body {
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 16pt;
    color: #fff;
}

#label-view, #month-view, #year-view {
    margin: 0 auto;
}

#month-view, #year-view {
    display: none;
    visibility: hidden;
}
