# Fully customizable list of transaction groups
#
# Syntax:
#  [group-name1]
#  keyword1
#  keyword2
#  ...
#  [group-name2]
#  keyword1
#  keyword2
#  ...
# 
# Transactions are assigned to groups with matching
# keywords. The group "bar" with the keyword "FOO"
# will get a match in the transaction "VISA FOO BAR".
# The transaction will thus be assigned to the group "bar".
# If a transaction has matches in more than one group, 
# a warning will be issued. Wildcards (*) are supported.
# ---

[foo]
BAR
