# -*- coding: utf-8 -*-
# ----------------------------------------------
# Fully customizable list of transaction labels
#
# Syntax:
#  [label1]
#  keyword1
#  keyword2
#  ...
#  [label2]
#  keyword1
#  keyword2
#  ...
# 
# Transactions are assigned to labels with matching
# keywords. The transaction "VISA FOO SPAM" will match
# the keyword "FOO" and will thus be assigned the label
# "bar". If a transaction matches more than one label,
# a warning will be issued, and the first matching label
# will be assigned. Wildcards (*) are supported.
#
# The settings section currently support the following
# sections:
#    local_currency	      local currency (e.g. USD)
#     			      DEFAULT: guessed from env
#
#    foreign_currency_label   label assigned to
#    			      transactions with non-local
#			      currency, if they do not
#			      match any other labels
#			      DEFAULT: none
#
#    incomes_label	      label assigned to positive
#    			      transactions
#			      DEFAULT: income
#
#    cash_flow_ignore	      transactions assigned the
#    			      following labels
#			      (separated by comma)
#			      will be ignored in the 
#			      cash flow
#    			      DEFAULT: none
# ---

[foo]
BAR

[savings]
xxxx.xxxx.xxxx.xxxx

[settings]
local_currency=USD
foreign_currency_label=travel
incomes_label=income
cash_flow_ignore=savings
