body {
    font-size: 16pt;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    margin: 0;
    overflow: auto;
    background-color: #f19f0f;
    color: #ffffff;
}

@media screen {

    .container, .control {
	position: absolute;
	width: 100vw;
	background-color: #435a6b;
    }

    .container {
	padding: 5vh 0;
	height: 65vh;
	min-height: 65vh;
    }

    .placeholder {
	width: 60vw;
	height: 65vh;
	margin: 0 auto; /* puts object in horizontal center */
	font-size: .7em;
    }

    span {
	line-height: 3em;
    }
    
    .control {
	background-color: #f19f0f;
	height: 23vh;
	min-height: 23vh;
	bottom: 0;
	padding-top: 2vh;
    }

    .query {
	padding-top: 3vh;
	font-size: .7em;
    }

    .select {
	width: 80vw;
	margin: 0 auto 2vh auto;
    }
}

a {
    outline: none;
    position: relative;
    text-decoration: none;
    margin: 10px;
    letter-spacing: .1em;
}