body {
    font-size: 1.7em;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    margin: 0;
    overflow: auto;
    background-color: #f19f0f;
}

@media screen {
    section {
	width: 100%;
	color: #ffffff;
	position: absolute;
	padding: .8em 0 .5em 0;
    }
    
    .main {
	min-height: 75%;
	background-color: #435a6b;
    }
    
    .control {
	height: 25%;
	bottom: 0;
	background-color: #f19f0f;
    }

    .ctrl { 
	margin-bottom: 25px;
    }

    .query {
	font-size: .7em;
    }

    .select {
	margin-top: 25px
    }
}

a {
    outline: none;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    letter-spacing: 1px;
}

