<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link href="banan/template/styles/style.css" rel="stylesheet" type="text/css">
  <link href="banan/template/styles/buttons.css" rel="stylesheet" type="text/css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="banan/template/javascript/flot/jquery.flot.js" type="text/javascript"></script>
  <script src="banan/template/javascript/flot/jquery.flot.categories.js" type="text/javascript"></script>

  <script src="banan/template/javascript/data.js" type="text/javascript"></script>
  <script src="banan/template/javascript/events.js" type="text/javascript"></script>
  <script src="banan/template/javascript/at.doc.ready.js" type="text/javascript"></script>
  
</head>
<body>

<div class="container">
  <div id="placeholder" class="placeholder"></div>
</div>

<div class="control">

  <span class="datatype">
    <a class="active" id="plot">PLOT</a>
    <a class="inactive" id="text">TEXT</a>
  </span>

  <div class="query">
    <span class="foreach">
      for each 
      <a class="inactive" id="month">month</a> 
      <a class="inactive" id="year">year</a>
      <a class="active" id="label">label</a>
    </span>

    <span class="show">
      show
      <a class="active" id="sum">sum</a> 
      <a class="inactive" id="average">average</a>
    </span>
  </div>

  <div class="select">

    <span class="active" id="input">
      <span class="symbol">⌨</span>
      <input id="period" type="text" maxlength="13"></input>
      <span class="symbol">↲</span>
    </span>

    <span class="inactive" style="display: none;" id="labels">
    </span>

  </div>

</div>

</body>
</html>
